@import "./mixins";

.content{
    
    @include content-flex-col;
    
    .inner-content{
        width: 100%;        
    }
    i.icons{
        padding-right: 20px;

    }
    p{
        color: blue;
    }
}