// Setting site colors
$mainFontClr: black;
$mainBgClr:rgb(231, 231, 231);

$headerBgClr:black;
$headerFontClr:red;
$headerShadow: rgb(172, 255, 47);

$navFontClr:rgb(255, 0, 0);
$navBtnBg:rgb(151, 151, 151);
$navBgHover:rgb(00,00,00);

// Site layout settings
body{
    margin:0;
    text-align: center;
    padding: 0;
    background-color: $mainBgClr;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: minmax(auto,150px) 60px auto minmax(150px,auto);
    grid-template-areas:
        "h h h h h h h h h h h h"
        "m m m m m m m m m m m m"
        "c c c c c c c c c c c c"
        "f f f f f f f f f f f f" ;
}
#header{
    grid-area: h;
}
#footer{
    grid-area: f;
}
#navigatie{
    grid-area: m;
}
#content{
    grid-area: c;
}
h1{
    font-size: 4em;
}
.icons{
    font-size: 4vmax;
}
// Site file structure
@import "./header";
@import "./navigatie";